<div class="row">
  <div class="col-lg-6">
    <label>Search By Name</label><br />
    <input [(ngModel)]="searchText" placeholder="">
  </div>
  <div class="col-lg-6 pull-right">
    <select>
      <option>Sort by ID</option>
    </select>
    <br/>
    <select (change)="onDropdownChange($event)">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
  </div>
</div>
<div class="row">
  <div *ngFor="let item of bindedData | searchName: searchText ; let i = index"
    class="col-lg-3 col-sm-6 col-xs-6 card">
    <img class="card-img-top"
      [src]="item.image"
      alt="Card image cap">
    <div class="bottom-left">
      <h3>{{item.name}}</h3>
      <span style="word-break: break-all;">
        <h5>ID: {{item.id}}</h5>
      </span>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <td>STATUS</td>
          <td>{{item.status}}</td>
        </tr>
        <tr>
          <td>SPECIES</td>
          <td>{{item.species}}</td>
        </tr>
        <tr>
          <td>GENDER</td>
          <td>{{item.gender}}</td>
        </tr>
        <tr>
          <td>ORIGIN</td>
          <td><a [href]="item.origin.url">{{item.origin.name}}</a></td>
        </tr>
        <tr>
          <td>LAST LOCATION</td>
          <td><a [href]="item.location.url">{{item.location.name}}</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>