<div class="row">
  <div class="col-sm-6">
    <label>Search By Name</label><br />
    <input [(ngModel)]="searchText" placeholder="">
  </div>
  <div class="col-sm-6">

  </div>
</div>
<div class="row">
  <div *ngFor="let item of data['results'] | searchName: searchText ; let i = index" class="col-sm-3 card">
    <img class="card-img-top" [src]="item.image" alt="Card image cap">
    <div class="bottom-left">
      <h2>{{item.name}}</h2><br/>
      id:{{item.id}}- created: {{item.created}}
    </div>
    <div class="card-body ">
      <table class="table table-striped">
        <tr>
          <td>STATUS</td>
          <td>{{item.status}}</td>
        </tr>
        <tr>
          <td>SPECIES</td>
          <td>{{item.species}}</td>
        </tr>
        <tr>
          <td>GENDER</td>
          <td>{{item.gender}}</td>
        </tr>
        <tr>
          <td>ORIGIN</td>
          <td><a [href]="item.origin.url">{{item.origin.name}}</a></td>
        </tr>
        <tr>
          <td>LAST LOCATION</td>
          <td><a [href]="item.location.url">{{item.location.name}}</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>